<h1>Notes about the development of this demo application</h1>
<p>
  The intention of this demo is demonstrate Ruby on Rails development using, besides the Rails framework and the Ruby language:
</p>
<p>
  <ul>
    <li>OOD</li>
    <li>TDD</li>
    <li>MVC</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
</p>
<p>
  The application was developed by one deveoper in about 6 to 8 hours of real work. 
</p>
<p>
  Besides a custom css stylesheet it uses some <a href="http://www.blueprintcss.org/">Bluprint</a> css code for browser compatibility (mostly IE fixes) and some ruby gems to make some things easier. As an example the <a href="https://github.com/mdeering/gravatar_image_tag">Gravatar Image Tag</a> is used to retrieve the <a href="http://en.gravatar.com/">Gravatar</a> image for the user email. 
</p>
<p>
  If you have any questions or if you want access to this application source code please contact <a href="http://www.bandofcoders.com">Band of Coders</a>. 
</p>